<head>
<style>
.centerTable {
  margin: 0px auto;
}

table, th, td {
  border: 1px solid black;
}
</style>
</head>

<h1 style="text-align:center;">Compositions</h1>

<form style="text-align:center;">
Select Composition: <%= collection_select(:post, :composition_id, @compositions, :id, :composition) %>
<input type="submit">
</form>

<table class="centerTable">
  <tr>
    <th>COMPOSITIONS</th>
    <th>COMPOSER</th>
    <th>RAGA</th>
    <th>TAALA</th>
    <th>LANGUAGE</th>
  </tr>
<% @compositions.each do |composition| %>
  <tr>
    <td><%= composition.composition %></td>
    <td><%= composition.composer.composer %></td>
    <td><%= composition.raga.raga %></td>
    <td><%= composition.taala %></td>
    <td><%= composition.language %></td>
  </tr>
<% end %>
</table>
