<head>
<style>
.centerTable {
  margin: 0px auto;
}

table, th, td {
  border: 1px solid black;
}
</style>
</head>

<h1 style="text-align:center;">Composers</h1>

<form style="text-align:center;">
Select Composer: <%= collection_select(:post, :composer_id, @composers, :id, :composer) %>
<input type="submit">
</form>

<table class="centerTable">
  <tr>
    <th>COMPOSER</th>
    <th>BIRTHYEAR</th>
    <th>DEATHYEAR</th>
    <th>PLACE</th>
    <th>BIOGRAPHY</th>
  </tr>
  
  <% @composers.each do |composer| %>
    <tr>
      <td><%= composer.composer %></td>
      <td><%= composer.birthyear %></td>
      <td><%= composer.deathyear %></td>
      <td><%= composer.place %></td>
      <td><%= composer.biography %></td>
    </tr>
   <% end %>
</table>
  